<%- include ../partials/header.ejs %>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script defer src="../../public/javascripts/formHandler.js"></script>



<div class="editCommentForm">
    <form action="/comment/<%= comment._id %>?_recipeId=<%= recipeId %>&_method=PUT" method="POST">
        <%- include ../partials/starRating.ejs %>
        <textarea name="comment" rows="4" cols="50"><%= comment.commentBody %></textarea>
        <button type="submit">Update Comment</button>
    </form>
    <form action="/recipes/<%= recipeId %>">
        <button type="button">Cancel</button>
    </form>

</div>

<script>
    $(document).ready(function() {
        $("#star<%= comment.rating %>").trigger('click');
    });
</script>