<%- include ../partials/header.ejs %> 

<div id="flex" class="pageContainer">
    <h2>All Cooks</h2>
    <% users.forEach(function(u) { %>
        <% if (u.deletedAt == null) {%>
            <% var recipeAuthorId = u._id %>
            <% var userRecipes = recipes.filter(obj => { return obj.userId == recipeAuthorId }) %>
            <% var userRecipeCount = userRecipes.length %>

            <div class="flex mb15">
                <a class="uiUserPhoto" href="/users/<%= u._id %>"><img class="thumbnail mr15 thumb150" src="<%= u.avatar %>"></a>
                <div class="flex fdCol jc-sE">
                    <div class="uiUserName"><a href="/users/<%= u._id %>"><%= u.name %></a></div>
                    <div class="uiUserRecipes"><%= userRecipeCount %> Recipes</div>
                </div>
            </div>
        <% } %>
    <% }); %>
</div>


