<%- include ../partials/header.ejs %> 

<div id="allMembersContainer" class="pageContainer">
    <h2>All Cooks</h2>
    <% users.forEach(function(u) { %>
        <% if (u.deletedAt == null) {%>
            <% var recipeAuthorId = u._id %>
            <% var userRecipes = recipes.filter(obj => { return obj.userId == recipeAuthorId }) %>
            <% var userRecipeCount = userRecipes.length %>

            <div class="memberContainer mb10">
                <a class="memberPhoto" href="/users/<%= u._id %>"><img class="thumbNail mr10 thumb100" src="<%= u.avatar %>"></a>
                <div class="memberName"><a href="/users/<%= u._id %>"><%= u.name %></a></div>
                <div class="memberRecipes"><%= userRecipeCount %> Recipes</div>
            </div>
        <% } %>
    <% }); %>
</div>


