<%- include ../partials/header.ejs %> 

<div class="pageContainer">

<% var greeting = user.name %>
<% var author = `${user.name}'s` %>

<% if (sessionUser) { %>
    <% if (user.id == sessionUser._id) { %>
        <% greeting = `Welcome back, ${sessionUser.name}!` %>
        <% author = `Your` %>
    <% } %>
<% } %>

<div class="userGreetingContainer">
    <h2><%= greeting %></h2>
    <img class="thumb100 userPhoto thumbnail rightAlign" src="<%= user.avatar %>">
</div>

<% if (sessionUser && favorites) { %>
    <h3><%= author %> Favorites</h3>
    <div class="userFavoritesContainer">
        <% favorites.forEach(function(f) { %>
            <% if (f.deletedAt == null) { %>
                
                <% var favoritedRecipeId = f.recipeId %>
                <% var favoritedRecipe = recipes.filter(obj => { return obj._id == favoritedRecipeId }) %>
                <% var recipeThumbnail = favoritedRecipe[0].imageUrl %>

                <div class="favoriteContainer mb10">
                    <% if (recipeThumbnail) { %>
                        <a href="/recipes/<%= f.recipeId %>"><img class="thumbnail thumb50 mr10" src="<%= recipeThumbnail %>"></a>
                    <% } %>
                    <a href="/recipes/<%= f.recipeId %>"> <%= f.addedTo %> </a>
                </div>
            <% } %>
        <% }) %>
    </div>
<% } %>

<% if (userRecipes) { %>
    <h3><%= author %> Recipes</h3>
    <div class="userRecipesContainer">
        <% userRecipes.forEach(function(ur) { %>
            <% if (ur.deletedAt == null) { %>
                <div class="userRecipeContainer mb10">
                    <a href="/recipes/<%= ur._id %>"><img class="thumbnail thumb50 mr10" src="<%= ur.imageUrl %>"></a>
                    <a href="/recipes/<%= ur._id %>"><%= ur.name %> </a>
                </div>
            <% } %>
        <% }) %>
    </div>
<% } %>

<% if (comments) { %>
    <h3><%= author %> Comments</h3>
    <% comments.forEach(function(c) { %>
        <% if (c.deletedAt == null) { %>
            <div class="commentContainer mb10">
                <div class="userCommentByline">
                    <a class="mb5" href="/recipes/<%= c.recipeId %>"> <%= c.addedTo %> </a>
                    <p class="mb10">
                        <%= getFormattedCommentDate(c.createdAt) %> 
                        <% if (c.updatedAt) { %>
                            <span class="grey">(Edited on <%= getFormattedCommentDate(c.updatedAt) %>)</span>
                        <% } %>
                    </p>
                </div>
                <p class="userRating mb10"> <%= "★".repeat(c.rating) %> </p>
                <p> <%= c.commentBody %> </p>
            </div>
        <% } %>
    <% }) %>
<% } %>

<% if (favorites && !sessionUser) { %>
    <h3><%= author %> Favorites</h3>
    <div class="userFavoritesContainer">
        <% favorites.forEach(function(f) { %>
            <% if (f.deletedAt == null) { %>
                
                <% var favoritedRecipeId = f.recipeId %>
                <% var favoritedRecipe = recipes.filter(obj => { return obj._id == favoritedRecipeId }) %>
                <% var recipeThumbnail = favoritedRecipe[0].imageUrl %>

                <div class="favoriteContainer mb10">
                    <% if (recipeThumbnail) { %>
                        <a href="/recipes/<%= f.recipeId %>"><img class="thumbnail thumb50 mr10" src="<%= recipeThumbnail %>"></a>
                    <% } %>
                    <a href="/recipes/<%= f.recipeId %>"> <%= f.addedTo %> </a>
                </div>
            <% } %>
        <% }) %>
    </div>
<% } %>

<% function getFormattedCommentDate(unparsedDate) { %>
    <% var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %>
    <% var monthNumber = unparsedDate.getMonth(); %>
    <% var month = months[monthNumber]; %>
    <% var day = unparsedDate.getDate(); %>
    <% var year = unparsedDate.getFullYear(); %>
    <% var hour = unparsedDate.getHours(); %>
    <% var minute = (unparsedDate.getMinutes() < 10 ? '0' : '') + unparsedDate.getMinutes() %>
    <% var displayDate = month + " " + day + ", " + year + " at " + hour +":"+ minute %>
    <% return displayDate; %>
<% } %>

</div>