<%- include ../partials/header.ejs %> 

<div class="pageContainer">

<% var greeting = user.name %>
<% var author = `${user.name}'s` %>
<% var youRecipes = `${user.name} has` %>
<% var youComments = `${user.name} has` %>
<% var youFavorites = `${user.name} does` %>

<% if (sessionUser) { %>
    <% if (user.id == sessionUser._id) { %>
        <% greeting = `Welcome back, ${sessionUser.name}!` %>
        <% author = `Your` %>
        <% youRecipes = 'You have' %>
        <% youComments = 'You have' %>
        <% youFavorites = 'You do' %>
    <% } %>
<% } %>

<div class="flex ai-ctr">
    <h2><%= greeting %></h2>
    <img class="thumb100 userPhoto thumbnail rightAlign" src="<%= user.avatar %>">
</div>

<% if (sessionUser) { %>
    <h3><%= author %> Favorites</h3>
    <% if (favorites.length < 1) { %>
        <p><%= youFavorites %> not have any favorites yet.</p>
    <% } else { %>
        <div class="flex fdCol greyBorder br10 pl15 pt15">
            <% favorites.forEach(function(f) { %>
                <% if (f.deletedAt == null) { %>
                    
                    <% var favoritedRecipeId = f.recipeId %>
                    <% var favoritedRecipe = recipes.filter(obj => { return obj._id == favoritedRecipeId }) %>
                    <% if (favoritedRecipe[0].imageUrl) { %>
                        <% var recipeThumbnail = favoritedRecipe[0].imageUrl %>
                    <% } %>

                    <div class="flex ai-ctr mb15">
                        <% if (recipeThumbnail) { %>
                            <a href="/recipes/<%= f.recipeId %>"><img class="thumbnail thumb150 mr15" src="<%= recipeThumbnail %>"></a>
                        <% } %>
                        <a href="/recipes/<%= f.recipeId %>"> <%= f.addedTo %> </a>
                    </div>
                <% } %>
            <% }) %>
        </div>
    <% } %>
<% } %>

<h3><%= author %> Recipes</h3>

<% if (userRecipes.length < 1) { %>
    <p><%= youRecipes %> not shared any recipes yet.</p>
<% } else { %>
    <div class="flex fdCol greyBorder br10 pl15 pt15">
        <% userRecipes.forEach(function(ur) { %>
            <% if (ur.deletedAt == null) { %>
                <div class="flex ai-ctr mb15">
                    <a href="/recipes/<%= ur._id %>"><img class="thumbnail thumb150 mr15" src="<%= ur.imageUrl %>"></a>
                    <a href="/recipes/<%= ur._id %>"><%= ur.name %> </a>
                </div>
            <% } %>
        <% }) %>
    </div>
<% } %>


<h3><%= author %> Comments</h3>

<% if (comments.length < 1) { %>
    <p><%= youComments %> not left any comments yet.</p>
<% } else { %>
    <div class="commentsContainer">
        <% comments.forEach(function(c) { %>
            <% if (c.deletedAt == null) { %>
                <div class="commentContainer mb10">
                    <div class="userCommentByline">
                        <a class="mb5" href="/recipes/<%= c.recipeId %>"> <%= c.addedTo %> </a>
                        <p class="mb10">
                            <%= getFormattedCommentDate(c.createdAt) %> 
                            <% if (getFormattedCommentDate(c.createdAt) !== getFormattedCommentDate(c.updatedAt)) { %>
                                <span class="grey">(Edited on <%= getFormattedCommentDate(c.updatedAt) %>)</span>
                            <% } %>
                        </p>
                    </div>
                    <p class="userRating mb10"> <%= "★".repeat(c.rating) %> </p>
                    <p> <%= c.commentBody %> </p>
                </div>
            <% } %>
        <% }) %>
    </div>
<% } %>

<% if (!sessionUser) { %>
    <h3><%= author %> Favorites</h3>
    <% if (favorites.length < 1) { %>
        <p><%= youFavorites %> not have any favorites yet.</p>
    <% } else { %>
        <div class="flex fdCol greyBorder br10 pl15 pt15">
            <% favorites.forEach(function(f) { %>
                <% if (f.deletedAt == null) { %>
                    
                    <% var favoritedRecipeId = f.recipeId %>
                    <% var favoritedRecipe = recipes.filter(obj => { return obj._id == favoritedRecipeId }) %>
                    <% var recipeThumbnail = favoritedRecipe[0].imageUrl %>

                    <div class="flex ai-ctr mb15">
                        <% if (recipeThumbnail) { %>
                            <a href="/recipes/<%= f.recipeId %>"><img class="thumbnail thumb150 mr15" src="<%= recipeThumbnail %>"></a>
                        <% } %>
                        <a href="/recipes/<%= f.recipeId %>"> <%= f.addedTo %> </a>
                    </div>
                <% } %>
            <% }) %>
        </div>
    <% } %>
<% } %>

<% function getFormattedCommentDate(unparsedDate) { %>
    <% var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %>
    <% var monthNumber = unparsedDate.getMonth(); %>
    <% var month = months[monthNumber]; %>
    <% var day = unparsedDate.getDate(); %>
    <% var year = unparsedDate.getFullYear(); %>
    <% var hour = unparsedDate.getHours(); %>
    <% var minute = (unparsedDate.getMinutes() < 10 ? '0' : '') + unparsedDate.getMinutes() %>
    <% var displayDate = month + " " + day + ", " + year + " at " + hour +":"+ minute %>
    <% return displayDate; %>
<% } %>

</div>