<%- include ../partials/header.ejs %> 

<% var greeting = user.name %>
<% var author = `${user.name}'s` %>

<% if (sessionUser) { %>
    <% if (user.id == sessionUser._id) { %>
        <% greeting = `Holla, ${sessionUser.name}` %>
        <% author = `Your` %>
    <% } %>
<% } %>

<h2><%= greeting %></h2>

<% if (recipes) { %>
    <h3><%= author %> Recipes</h3>
    <% recipes.forEach(function(r) { %>
        <% if (r.deletedAt == null) { %>
            <div class="userRecipeContainer">
                <a href="/recipes/<%= r._id %>"><%= r.name %> </a>
            </div>
        <% } %>
    <% }) %>
<% } %>

<% if (comments) { %>
    <h3><%= author %> Comments</h3>
    <% comments.forEach(function(c) { %>
        <% if (c.deletedAt == null) { %>
            <fieldset>
                <div class="userCommentContainer">
                    <a href="/recipes/<%= c.recipeId %>"> <%= c.addedTo %> </a>
                    <p class="userRating"> <%= "★".repeat(c.rating) %> </p>
                    <p> <%= c.commentBody %> </p>
                    <p> <%= c.createdAt %> </p>
                </div>
            </fieldset>
        <% } %>
    <% }) %>
<% } %>

<% if (favorites) { %>
    <h3><%= author %> Favorites</h3>
    <% favorites.forEach(function(f) { %>
        <% if (f.deletedAt == null) { %>
            <div class="userFavoritesContainer">
                <a href="/recipes/<%= f.recipeId %>"> <%= f.addedTo %> </a>
            </div>
        <% } %>
    <% }) %>
<% } %>
