<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script defer src="../../javascripts/formHandler.js"></script>

<%- include ../partials/header.ejs %>
<div class="pageContainer">

<h1>Edit Your Recipe</h1>

<form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">

    <fieldset class="mb10 tbpad10">

        <legend><h3>Recipe Name</h3></legend>

        <input class="h25 w300" name="name" type="text" value="<%= recipe.name %>">

    </fieldset>

    <fieldset class="mb10 tbpad10">

        <legend><h3>Recipe Description</h3></legend>

        <textarea rows="5" cols="65" name="description" type="text"><%= recipe.description %></textarea>

    </fieldset>

    <fieldset class="mb10 tbpad10" id="recipeInstructions">

        <legend><h3>Ingredients</h3></legend>

        <div class="mb5">
            <p class="w100 ib center">Qty</p>
            <p class="w300 ib center">Ingredient</p>
            <p class="w300 ib center">Preparation</p>
        </div>

        <div class="ingredientsSection">
            <div class="ingredientRow">
            <% for (var i = 0; i < recipe.ingredients.length; i++) { %>
                <p class="mb5">
                    <input class="w100 h25" name="qty" type="text" value="<%= recipe.ingredients[i].qty %>">
                    <input class="w300 h25" name="ingredient" type="text" value="<%= recipe.ingredients[i].name %>">
                    <input class="w300 h25" name="preparation" type="text" value="<%= recipe.ingredients[i].prep %>">
                    <button type="button" class="removeEditIngredient rowButton red"> - </button>
                </p>
            <% }; %>
                <p>
                    <input class="w100 h25" name="qty" type="text">
                    <input class="w300 h25" name="ingredient" type="text">
                    <input class="w300 h25" name="preparation" type="text">
                    <button type="button" class="removeEditIngredient rowButton red"> - </button>
                </p>
            </div>
            <button type="button" class="addEditIngredient rowButton green"> + </button>
        </div>

    </fieldset>

    <fieldset class="mb10 tbpad10" id="recipeInstructions">

        <legend><h3>Instructions</h3></legend>

        <div class="instructionsSection">
            <div class="instructionRow">
            <% for (var i = 0; i < recipe.instructions.length; i++) { %>
                <p>
                    <input class="width100 h25 mb5" name="instructions" type="text" value="<%= recipe.instructions[i] %>">
                    <button type="button" class="removeEditInstruction rowButton red"> - </button>
                </p>
            <% } %>
                <p>
                    <input class="width100 h25 mb5" name="instructions" type="text">
                    <button type="button" class="removeEditInstruction rowButton red"> - </button>
                </p>
            </div>
            <button type="button" class="addEditInstruction rowButton green"> + </button>
        </div>

    </fieldset>

    <fieldset class="mb10 tbpad10" id="recipeAdditionalInfo">

        <legend><h3>Additional Info</h3></legend>

        <span><strong>Skill Level:</strong></span>
        <select class="mb10" name="skillLevel" type="text">
            <option <% if (recipe.skillLevel == "Easy") { %> `option selected="selected" `<% } %> value="Easy">Easy
            </option>
            <option <% if (recipe.skillLevel == "Medium") { %> `option selected="selected" `<% } %> value="Medium">
                Medium</option>
            <option <% if (recipe.skillLevel == "Difficult") { %> `option selected="selected" `<% } %>
                value="Difficult">Difficult</option>
        </select><br>

        <div class="mb10">
            <span><strong>Sevings:</strong> </span><input class="h25" required class="numberOnlyInput" name="servings" type="text" pattern="\d+" value="<%= recipe.servings %>"><br>
        </div>
        <div class="mb10">
            <span><strong>Prep Time</strong> (minutes): </span><input class="h25" required class="numberOnlyInput mb10" name="timePrep" type="text" pattern="\d+" value="<%= recipe.timePrep %>"><br>
        </div>
        <div class="mb10">
            <span><strong>Cook Time</strong> (minutes): </span><input class="h25" required class="numberOnlyInput mb10" name="timeCook" type="text" pattern="\d+" value="<%= recipe.timeCook %>"><br>
        </div>
        <div class="mb10">
            <span><strong>Wait Time</strong> (minutes): </span><input class="h25" class="numberOnlyInput mb10" name="timeWait" type="text" pattern="\d+" value="<%= recipe.timeWait %>"><br>
        </div>
        <div class="mb10">
            <span><strong>Add image URL:</strong> </span><input class="h25" name="imageUrl" type="text" value="<%= recipe.imageUrl %>"><br>
        </div>

    </fieldset>

    <div class="buttonContainer">
        <input class="" type="submit" value="Submit">
        <input class="" type="submit" value="Cancel">
    </div>

</form>

</div>