<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script defer src="../../javascripts/formHandler.js"></script>

<%- include ../partials/header.ejs %>
<h1>Edit Your Recipe</h1>

<form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">

    <fieldset>

        <legend>Recipe Name</legend>

        <input name="name" type="text" value="<%= recipe.name %>">

    </fieldset>

    <fieldset>

        <legend>Recipe Description</legend>

        <textarea rows="5" cols="33" name="description" type="text"><%= recipe.description %></textarea>

    </fieldset>

    <fieldset id="recipeInstructions">

        <legend>Ingredients</legend>

        <thead>
            <tr class="tableHeader">
                <th></th>
                <th>Qty</th>
                <th>Ingredient</th>
                <th>Preparation</th>
            </tr>
        </thead>

        <div class="ingredientsSection">
            <div class="ingredientRow">
            <% for (var i = 0; i < recipe.ingredients.length; i++) { %>
                <p>
                    <input name="qty" type="text" value="<%= recipe.ingredients[i].qty %>">
                    <input name="ingredient" type="text" value="<%= recipe.ingredients[i].name %>">
                    <input name="preparation" type="text" value="<%= recipe.ingredients[i].prep %>">
                    <button type="button" class="removeEditIngredient"> - </button>
                </p>
            <% }; %>
                <p>
                    <input name="qty" type="text">
                    <input name="ingredient" type="text">
                    <input name="preparation" type="text">
                    <button type="button" class="removeEditIngredient"> - </button>
                </p>
            </div>
            <button type="button" class="addEditIngredient"> + </button>
        </div>

    </fieldset>

    <fieldset id="recipeInstructions">

        <legend>Instructions</legend>

        <div class="instructionsSection">
            <div class="instructionRow">
            <% for (var i = 0; i < recipe.instructions.length; i++) { %>
                <p>
                    <input name="instructions" type="text" value="<%= recipe.instructions[i] %>">
                    <button type="button" class="removeEditInstruction"> - </button>
                </p>
            <% } %>
                <p>
                    <input name="instructions" type="text">
                    <button type="button" class="removeEditInstruction"> - </button>
                </p>
            </div>
            <button type="button" class="addEditInstruction"> + </button>
        </div>

    </fieldset>

    <fieldset id="recipeAdditionalInfo">

        <legend>Additional Info</legend>

        <p>Skill Level: </p>
        <select name="skillLevel" type="text">
            <% console.log(recipe.skillLevel) %>
            <option <% if (recipe.skillLevel == "Easy") { %> `option selected="selected" `<% } %> value="Easy">Easy
            </option>
            <option <% if (recipe.skillLevel == "Medium") { %> `option selected="selected" `<% } %> value="Medium">
                Medium</option>
            <option <% if (recipe.skillLevel == "Difficult") { %> `option selected="selected" `<% } %>
                value="Difficult">Difficult</option>
        </select>

        <p>Sevings: </p><input name="servings" type="number" value="<%= recipe.servings %>">
        <p>Prep Time (minutes): </p><input name="timePrep" type="number" value="<%= recipe.timePrep %>">
        <p>Cook Time (minutes): </p><input name="timeCook" type="number" value="<%= recipe.timeCook %>">
        <p>Wait Time (minutes): </p><input name="timeWait" type="number" value="<%= recipe.timeWait %>">
        <p>Upload an image</p><input name="imageUrl" type="text" value="<%= recipe.imageUrl %>">

    </fieldset>

    <div class="buttonContainer">
        <input class="" type="submit" value="Submit">
        <input class="" type="submit" value="Cancel">
    </div>

</form>