<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script defer src="../javascripts/formHandler.js"></script>

<%- include ../partials/header.ejs %>
<div class="pageTitle">Add a Recipe</div>

<form action="/recipes" method="POST">

    <fieldset>

        <legend>Recipe Name</legend>

        <input name="name" type="text" value="<%= recipe.name %>">

    </fieldset>

    <fieldset>

        <legend>Recipe Description</legend>
        
        <input name="description" type="text" value="<%= recipe.description %>">

    </fieldset>

    <fieldset id="recipeInstructions">

        <legend>Ingredients</legend>

        <thead>
            <tr class="tableHeader">
                <th></th>
                <th>Qty</th>
                <th>Ingredient</th>
                <th>Preparation</th>
            </tr>
        </thead>

        <div class="ingredientsSection">
            <% for (var i = 0; i < recipe.ingredients.length; i++) { %>
                <div class="ingredientRow">
                    <p>
                        <input name="qty" type="text" value="<%= recipe.ingredients[i][0] %>">
                        <input name="ingredient" type="text" value="<%= recipe.ingredients[i][1] %>">
                        <input name="preparation" type="text" value="<%= recipe.ingredients[i][2] %>">
                        <button class="removeIngredient"> - </button>
                    </p>
                    <p>
                        <button class="addIngredient"> + </button>
                    </p>
                </div>
            <% }); %>
        </div>

    </fieldset>

    <fieldset id="recipeInstructions">

        <legend>Instructions</legend>

        <div class="instructionsSection">
            <% for (var i = 0; i < recipe.instructions.length; i++) { %>
                <div class="instructionRow">
                    <p>
                        <input name="instruction" type="text">
                        <button class="removeInstruction"> - </button>
                    </p>
                    <p>
                        <button class="addInstruction"> + </button>
                    </p>
                </div>
            <% } %>
        </div>

    </fieldset>

    <fieldset id="recipeAdditionalInfo">

        <legend>Additional Info</legend>

        <p>Skill Level: </p>
        <select name="skillLevel" type="text">
            <option value="1">Easy</option>
            <option value="2">Medium</option>
            <option value="3">Difficult</option>
        </select>

        <p>Sevings: </p><input name="servings" type="number" value="<%= recipe.servings %>">
        <p>Prep Time (minutes): </p><input name="timePrep" type="number" value="<%= recipe.timePrep %>">
        <p>Cook Time (minutes):</p><input name="timeCook" type="number" value="<%= recipe.timeCook %>">
        <p>Wait Time (minutes):</p><input name="timeWait" type="number" value="<%= recipe.timeWait %>">
        <p>Upload an image</p><input name="imageUrl" type="text" value="<%= recipe. %>">

    </fieldset>

    <div class="buttonContainer">
        <input class="" type="submit" value="Submit">
        <input class="" type="submit" value="Cancel">
    </div>

</form>