<%- include ../partials/header.ejs %>



<div class="pageContainer">
    <% recipes.forEach(function(r) { %>
        <% if (r.deletedAt == null) {%>
            <% var recipeAuthorId = r.userId %>
            <% var recipeAuthor = users.filter(obj => { return obj._id == recipeAuthorId }) %>
            <% var recipeAuthorName = recipeAuthor[0].name %>

            <% var favorited = favorites.filter(obj => { return obj.recipeId == r._id }) %>
            <% var favoritedCount = favorited.length %>

    <div class="flex mb15">
        <div>
            <a class="noDecoration" href="/recipes/<%= r._id %>"><img class="thumbnail mr15 thumb300"
                    src="<%= r.imageUrl %>"></a>
        </div>
        <div class="flex fdCol jc-ctr">
            <div class="mb10">
                <h2><a class="noDecoration" href="/recipes/<%= r._id %>"><%= r.name %></a>
                    <h2>
            </div>
            <div class="mb10">
                <a class="noDecoration" href="/users/<%= r.userId %>">By <%= recipeAuthorName %></a>
            </div>
            <div class="flex ai-ctr mb10">
                <div class="flex ai-ctr">
                    <% if (r.rating > 0) { %>
                        <span class="userRating mr10"> <%= "★".repeat(r.rating) %></span> <span
                            class="">(<%= r.ratingCount %>)</span>
                    <% } else { %>
                        <span class="userRating mr10"> <%= "☆".repeat(5) %></span> <span class="">(<%= 0 %>)</span>
                    <% } %>
                    <span class="ml5 mr5"> | </span>
                </div>
                <div class="flex ai-ctr">
                    <img class="thumb20 mr10" src="../images/icon_heart.svg">(<%= favoritedCount %>)
                </div>
            </div>
            <div>
                <a class="noDecoration" href="/recipes/<%= r._id %>"><%= r.description %></a>
            </div>
        </div>
    </div>
            <% } %>
    <% }); %>
</div>