<%- include ../partials/header.ejs %> 

<body>
    <div>
        <% recipes.forEach(function(r) { %>
            <% if (r.deletedAt == null) {%>
            <div class="recipeContainer">
                <img class="recipeImage" src="<%= r.imageUrl %>">
                <a class="recipeName" href="/recipes/<%= r._id %>"><%= r.name %></a>
                <a class="recipeDescription"  href="/recipes/<%= r._id %>"><%= r.description %></a>
            </div>
            <% } %>
        <% }); %>
    </div>
</body>
</html>