<%- include ../partials/header.ejs %>



<div class="pageContainer">
    <% recipes.forEach(function(r) { %>
        <% if (r.deletedAt == null) {%>
            <% var recipeAuthorId = r.userId %>
            <% var recipeAuthor = users.filter(obj => { return obj._id == recipeAuthorId }) %>
            <% var recipeAuthorName = recipeAuthor[0].name %>

            <% var favorited = favorites.filter(obj => { return obj.recipeId == r._id }) %>
            <% var favoritedCount = favorited.length %>

    <div class="flex mb15">
        <div>
            <a class="noDecoration" href="/recipes/<%= r._id %>"><img class="thumbnail mr15 thumb300" src="<%= r.imageUrl %>"></a>
        </div>
        <div class="flex fdCol jc-ctr">
            <div class="mb-20">
                <h2><a class="noDecoration" href="/recipes/<%= r._id %>"><%= r.name %></a><h2>
            </div>
            <div class="flex ai-ctr mb10">
                <div class="flex ai-ctr">
                    <% if (r.rating > 0) { %>
                        <span class="gold f175em mr10"> <%= "★".repeat(r.rating) %></span> <span
                            class="f120em">(<%= r.ratingCount %>)</span>
                    <% } else { %>
                        <span class="gold f175em mr10"> <%= "☆".repeat(5) %></span> <span class="f120em">(<%= 0 %>)</span>
                    <% } %>
                    <span class="ml5 mr5 f120em"> | </span>
                </div>
                <div class="flex ai-ctr">
                    <img class="w175em mr10" src="https://i.imgur.com/WAPZCzX.png"><span class="f120em">(<%= favoritedCount %>)</span>
                </div>
            </div>
            <div class="mb20">
                <span class="f110em"><%= r.description %></span>
            </div>
            <div class="mb10">
                <a class="noDecoration" href="/users/<%= r.userId %>">By <%= recipeAuthorName %></a>
            </div>
        </div>
    </div>
            <% } %>
    <% }); %>
</div>