<%- include ../partials/header.ejs %> 






<div id="allRecipesContainer">
    <% recipes.forEach(function(r) { %>
        <% if (r.deletedAt == null) {%>
            <% var recipeAuthorId = r.userId %>
            <% var recipeAuthor = users.filter(obj => { return obj._id == recipeAuthorId }) %>
            <% var recipeAuthorName = recipeAuthor[0].name %>


            <% var favorited = favorites.filter(obj => { return obj.recipeId == r._id }) %>
            <% var favoritedCount = favorited.length %>


            <div class="recipeContainer mb10">
                <div class="recipePhoto">
                    <a class="noDecoration" href="/recipes/<%= r._id %>"><img class="thumbNail mr10 thumb100" src="<%= r.imageUrl %>"></a>
                </div>
                <div class="recipeName">
                    <a class="noDecoration" href="/recipes/<%= r._id %>"><%= r.name %></a>
                </div>
                <div class="recipeAuthor">
                    <a class="noDecoration" href="/users/">By <%= recipeAuthorName %></a>
                </div>
                <div class="recipeFavorited ml10">
                    <img class="thumb15 mr10" src="../images/icon_heart.svg">(<%= favoritedCount %>)
                </div>
                <div class="recipeRating">
                    <% if (r.rating > 0) { %>
                        <span class="userRating"> <%= "★".repeat(r.rating) %></span> <span class="ml5">(RATINGS COUNT)</span>
                    <% } else { %>
                        <span class="userRating"> <%= "☆".repeat(5) %></span> <span class="ml5">(<%= 0 %>)</span>
                    <% } %>
                </div>
            </div>
        <% } %>
    <% }); %>
</div>


