<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script defer src="../javascripts/formHandler.js"></script>

<%- include ../partials/header.ejs %>

<img src="<%= recipe.imageUrl %>">

<p> <%= recipe.heroImage %> </p>

<h2> <%= recipe.name %> </h2>


<% if (sessionUser) { %>
<div class="">
    <form action="/recipes/<%= recipe._id %>/edit"><button type="submit">Edit</button></form>
    <form method="POST" action="/recipes/<%= recipe._id %>?_method=DELETE"><button type="submit">Delete</button></form>
</div>
<% } %>

<p> <%= recipe.stars %> </p>
<!-- 
<div class="rating">
    <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"></label>
        <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"></label>
        <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"></label>
        <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"></label>
        <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"></label>
    </fieldset>
</div> -->

<% if (sessionUser) { %>
    <% if (isFavorited) { %>
        <form id="heart" method="POST" action="/recipes/<%= recipe._id %>/favorite?_method=DELETE"><button type="submit">UnFav</button></form>
    <% } else { %>
        <form id="heart" method="POST" action="/recipes/<%= recipe._id %>/favorite"><button type="submit">Fav</button></form>
    <% } %>
<% } %>

<p>Added by: <a href="/users/<%= recipe.userId %>"><%= recipe.addedBy %></a> on <%= recipe.createdAt %> </p>

<h2>Summary</h2>

<p> <%= recipe.description %> </p>


<p>Skill Level: <%= recipe.skillLevel %> </p>
<p>Prep Time: <%= recipe.timePrep %> </p>
<p>Cook Time: <%= recipe.timeCook %> </p>
<p>Wait Time: <%= recipe.timeWait %> </p>
<p>Total Time: <%= recipe.timeTotal %> </p>
<p>Servings Yield: <%= recipe.servings %> </p>
<p>Categories: <%= recipe.categories %> </p>

<h2>Ingredients</h2>

<% recipe.ingredients.forEach(function(ingredient) { %>
<div>
    <p>- <%= ingredient[0] %> <%= ingredient[1] %>, <%= ingredient[2] %> </p>
</div>
<% }); %>

<h2>Instructions</h2>

<% recipe.instructions.forEach(function(instruction) { %>
<div>
    <p> <%= instruction %></p>
</div>
<% }); %>

<div class="commentSection">
    <h2>Comments</h2>
    <% if (comments) { %>
        <% comments.forEach(function(c) { %>
            <div class="commentContainer">
                <p class="commentBody"> <%= c.commentBody %> </p>
                <br>
                <span class="addedBy">By <a href="/users/<%= c.userId %>"><%= c.addedBy %></a></span><span class="addedOn"> on <%= c.createdAt %></span>
                <br>
                <% if(sessionUser) { %>
                    <% if (sessionUser._id == c.userId) { %>
                        <a class="editComment" commentId="<%= c._id%>" commentBody="<%= c.commentBody %>">Edit</a>
                    <% } %>
                <% } %>
                <br><br>
            </div>
        <% }); %>
    <% } %>
</div>

<div class="commentForm">
    <form action="/recipes/<%= recipe._id %>/comment" method="POST">
        <textarea name="comment" rows="4" cols="50"></textarea><br>
        <button type="submit">Add Comment</button>
    </form>
</div>
