<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script defer src="../javascripts/formHandler.js"></script>

<%- include ../partials/header.ejs %>

<div class="pageContainer">

<img id="heroImage" src="<%= recipe.heroImage %>">

<h1><%= recipe.name %></h1>

<p class="recipeByline noDecoration"">Added by <a href="/users/<%= recipe.userId %>"><%= recipe.addedBy %></a> on <%= dateCreated %> <% if (recipe.updatedAt) { %> (Updated <%= dateUpdated %>) <% } %></p>

<% if (sessionUser) { %> 
    <% if (sessionUser._id == recipe.userId) { %>
        <div class="flex mb10">
            <form action="/recipes/<%= recipe._id %>/edit"><button class="mr5" type="submit">Edit</button></form>
            <button class="openDeleteRecipeDialogue">Delete</button>
            <div hidden class="deleteRecipeDialogueContainer">
                <span class="deleteRecipeDialogue">
                    <p class="recipeDeleteQuestion mr5 ml10">Are you sure?</p>
                    <button class="deleteRecipeCancel mr5">Nevermind</button>
                    <form method="POST" action="/recipes/<%= recipe._id %>?_method=DELETE">
                        <button class="deleteRecipe" type="submit">Confirm Delete</button>
                    </form>
                </span>
            </div>
        </div>
    <% } %>
<% } %>

<div class="flex flex ai-ctr mb10">
    <div class="flex ai-ctr mr10">
        <% if (recipe.rating > 0) { %>
            <span class="userRating"> <%= "★".repeat(recipe.rating) %></span> <span class="ml5">(<%= recipe.ratingCount %>)</span>
            
        <% } else { %>
            <span class="userRating"> <%= "☆".repeat(5) %></span> <span class="ml5">(<%= 0 %>)</span>
        <% } %>
    </div>
    |
    <div class="flex ai-ctr ml10">
        <% if (isFavorited) { %>
            <form id="unheartForm" method="POST" action="/recipes/<%= recipe._id %>/favorite?_method=DELETE"><input class="unfavoriteButton thumb20" type="image" name="submit" src="../images/icon_heart.svg" border="0" alt="Submit" /></form>
        <% } else { %>
            <form id="heart" method="POST" action="/recipes/<%= recipe._id %>/favorite"><input class="favoriteButton thumb20" type="image" name="submit" src="https://i.imgur.com/XMLm13M.png" border="0" alt="Submit" / <% if (!sessionUser) { %> disabled="disabled" title="Please log in to add to favorites." <% } %> ></form>
        <% } %>
        
        <% if (favoriteCount > 0) { %>
            <p class="ml5">(<%= favoriteCount %>)</p>
        <% } %>
    </div>
</div>

<div class="flex mb20">

    <div class="flex mr30">
        <% if (recipe.imageUrl) { %>
            <img id="recipeImage" class="thumbnail thumb400" src="<%= recipe.imageUrl %>">
        <% } %>
    </div>

    <div class="flex fdCol jc-ctr">
        <h2>Summary</h2>

        <% if (recipe.description) { %><p class="mb25"><%= recipe.description %></p><% } %>
        <% if (recipe.skillLevel) { %><p class="mb10"><strong>Skill Level:</strong> <%= recipe.skillLevel %></p><% } %>
        <% if (recipe.timePrep) { %><p class="mb10"><strong>Prep Time:</strong> <%= recipe.timePrep %> minutes</p><% } %>
        <% if (recipe.timeCook) { %><p class="mb10"><strong>Cook Time:</strong> <%= recipe.timeCook %> minutes</p><% } %>
        <% if (recipe.timeWait) { %><p class="mb10"><strong>Wait Time:</strong> <%= recipe.timeWait %> minutes</p><% } %>
        <% if (recipe.timeTotal) { %><p class="mb10"><strong>Total Time:</strong> <%= recipe.timeTotal %> minutes</p><% } %>
        <% if (recipe.servings) { %><p class="mb10"><strong>Servings Yield:</strong> <%= recipe.servings %></p><% } %>
    </div>
</div>

<h2>Ingredients</h2>

<ul class="noBullet customList">
<% recipe.ingredients.forEach(function(ingredient) { %>
    <li class="recipeRow">
        <span class="ingredientQty"><%= ingredient.qty %></span>
        <span class="ingredientName"><%= ingredient.name %></span>
        <% if (ingredient.prep) { %>
            <span class="ingredientPrep">(<%= ingredient.prep %>)</span>
        <% } %>
    </li>
<% }); %>
</ul>

<h2>Instructions</h2>

<ol>
<% recipe.instructions.forEach(function(instruction) { %>
    <li class="recipeRow medText mb20"><%= instruction %></li>
<% }); %>
</ol>

<h2>Comments</h2>
    
<div>
    <form action="/recipes/<%= recipe._id %>/comment" method="POST">
        <% if (sessionUser) { %>
            <%- include ../partials/starRating.ejs %>
        <% } else { %>
            <%- include ../partials/starRatingDisabled.ejs %>
        <% } %>

        <textarea name="comment" rows="4" cols="100" <% if (!sessionUser) { %> disabled="disabled" title="Please log in to leave a comment or review." <% } %> ><% if (!sessionUser) { %> Please log in to leave a comment or review. <% } %></textarea>
        <button class="mb10" type="submit" <% if (!sessionUser) { %> disabled="disabled" title="Please log in to leave a comment or review." <% } %> >Add Comment</button>
    </form>
</div>

<div>
    <% if (comments) { %>
        <% comments.forEach(function(c) { %>
            <% var commentAuthorId = c.userId %>
            <% var commentAuthor = users.filter(obj => { return obj._id == commentAuthorId }) %>
            <% var avatar = commentAuthor[0].avatar %>

            <div class="flex fdCol pl10 pt10 mb10 br10 greyBorder">
                <div class="flex mb10 noDecoration grey">
                    <img class="thumbnail mr10 thumb50" src="<%= avatar %>">
                    <div class="flex fdCol">
                        <div class="flex">
                            <span class="mr5"><a class="noDecoration darkGrey" href="/users/<%= c.userId %>"><%= c.addedBy %></a></span>
                            <%= getFormattedCommentDate(c.createdAt) %>
                            <% if (getFormattedCommentDate(c.createdAt) !== getFormattedCommentDate(c.updatedAt)) { %>
                                (Edited on <%= getFormattedCommentDate(c.updatedAt) %>)
                            <% } %>
                        </div>
                        <p class="userRating mb10"> <%= "★".repeat(c.rating) %> </p>
                    </div>
                </div>
                <% if (c.commentBody) { %>
                    <p class="commentBody mb10 mr10"> <%= c.commentBody %> </p>
                <% } %>
                
                <% if(sessionUser) { %>

                    <% if (sessionUser._id == c.userId) { %>
                        <div class="commentEditContainer">
                            <a href="/comment/<%= c._id %>/edit?<%= recipe._id %>"><button class="mr5" type="submit">Edit</button></a>
                            <button class="openDeleteCommentDialogue">Delete</button>
                            <div hidden class="deleteCommentDialogueContainer">
                                <span class="deleteCommentDialogue">
                                <p class="commentDeleteQuestion mr5 ml10">Are you sure?</p>
                                <button class="deleteCommentCancel mr5">Nevermind</button>
                                <form method="POST" action="/comment/<%= c._id %>?_method=DELETE">
                                    <button class="deleteComment" type="submit">Confirm Delete</button>
                                </form>
                                </span>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </div>
        <% }); %>
    <% } %>
</div>

<% function getFormattedCommentDate(unparsedDate) { %>
    <% var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] %>
    <% var monthNumber = unparsedDate.getMonth(); %>
    <% var month = months[monthNumber]; %>
    <% var day = unparsedDate.getDate(); %>
    <% var year = unparsedDate.getFullYear(); %>
    <% var hour = unparsedDate.getHours(); %>
    <% var minute = (unparsedDate.getMinutes() < 10 ? '0' : '') + unparsedDate.getMinutes() %>
    <% var displayDate = month + " " + day + ", " + year + " at " + hour +":"+ minute %>
    <% return displayDate; %>
<% } %>
</div>