<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script defer src="../javascripts/formHandler.js"></script>


<%- include ../partials/header.ejs %>

<form id="heart" method="POST" action="/recipes/<%= recipe._id %>/favorite"><button type="submit"> </button></form>
<form id="heart" action=><img src=""></form>

<h2> <%= recipe.name %> </h2>
<p> <%= recipe.description %> </p>
<p> <%= recipe.ingredients %> </p>
<p> <%= recipe.instructions %> </p>
<p> <%= recipe.skillLevel %> </p>
<p> <%= recipe.timePrep %> </p>
<p> <%= recipe.timeCook %> </p>
<p> <%= recipe.timeWait %> </p>
<p> <%= recipe.timeTotal %> </p>
<p> <%= recipe.servings %> </p>
<p> <%= recipe.categories %> </p>
<p> <%= recipe.heroImage %> </p>
<p> <%= recipe.imageUrl %> </p>
<p> <%= recipe.stars %> </p>
<p> <%= user.name %> </p>
<p> <%= recipe.createdAt %> </p>