<script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script defer src="../javascripts/formHandler.js"></script>

<%- include ../partials/header.ejs %>

<img src="<%= recipe.imageUrl %>">

<p> <%= recipe.heroImage %> </p>

<h1><%= recipe.name %></h1>

<% if (sessionUser) { %> 
    <% if (sessionUser._id == recipe.userId) { %>
        <div class="recipeEditContainer">
            <form action="/recipes/<%= recipe._id %>/edit"><button type="submit">Edit</button></form>
            <button id="deleteRecipe">Delete</button>
            <span hidden id="deleteRecipeConfirm">
                <p class="deleteConfirmDialogue">Are you sure?</p>
                <button id="deleteRecipeCancel">Nevermind</button>
                <form method="POST" action="/recipes/<%= recipe._id %>?_method=DELETE">
                    <button type="submit">Confirm Delete</button>
                </form>
            </span>
        </div>
    <% } %>
<% } %>

<% if (recipe.rating > 0) { %>
    <span class="userRating"> <%= "★".repeat(recipe.rating) %></span> <span>(<%= ratingsCount %>)</span><br>
<% } else { %>
    <span class="userRating"> <%= "☆".repeat(5) %></span> <span>(<%= 0 %>)</span><br>
<% } %>

<% if (isFavorited) { %>
    <form id="heart" method="POST" action="/recipes/<%= recipe._id %>/favorite?_method=DELETE"><button type="submit">UnFav</button></form>
<% } else { %>
    <form id="heart" method="POST" action="/recipes/<%= recipe._id %>/favorite"><button type="submit" <% if (!sessionUser) { %> disabled="disabled" title="Please log in to add to favorites." <% } %> >Fav</button></form>
<% } %>

<% if (favoriteCount > 0) { %>
    <p>(<%= favoriteCount %>)</p>
<% } %>

<p>Added by: <a href="/users/<%= recipe.userId %>"><%= recipe.addedBy %></a> on <%= recipe.createdAt %> </p>

<h2>Summary</h2>

<p> <%= recipe.description %> </p>

<% if (recipe.skillLevel) { %><p><strong>Skill Level:</strong> <%= recipe.skillLevel %></p><% } %>
<% if (recipe.timePrep) { %><p><strong>Prep Time:</strong> <%= recipe.timePrep %></p><% } %>
<% if (recipe.timeCook) { %><p><strong>Cook Time:</strong> <%= recipe.timeCook %></p><% } %>
<% if (recipe.timeWait) { %><p><strong>Wait Time:</strong> <%= recipe.timeWait %></p><% } %>
<% if (recipe.timeTotal) { %><p><strong>Total Time:</strong> <%= recipe.timeTotal %></p><% } %>
<% if (recipe.servings) { %><p><strong>Servings Yield:</strong> <%= recipe.servings %></p><% } %>

<h2>Ingredients</h2>

<ul>
<% recipe.ingredients.forEach(function(ingredient) { %>
    <li>
        <span class=""><%= ingredient.qty %></span>
        <span class=""><%= ingredient.name %></span>
        <% if (ingredient.prep) { %>
            <span class="">(<%= ingredient.prep %>)</span>
        <% } %>
    </li>
<% }); %>
</ul>

<h2>Instructions</h2>

<ol>
<% recipe.instructions.forEach(function(instruction) { %>
    <li><%= instruction %></li>
<% }); %>
</ol>

<div class="addCommentForm">
    <form action="/recipes/<%= recipe._id %>/comment" method="POST">
        <%- include ../partials/starRating.ejs %>
        <textarea id"addCommentForm" name="comment" rows="4" cols="50" <% if (!sessionUser) { %> disabled="disabled" title="Please log in to leave a comment or review." <% } %> ><% if (!sessionUser) { %> Please log in to leave a comment or review. <% } %></textarea><br>
        <button type="submit" <% if (!sessionUser) { %> disabled="disabled" title="Please log in to leave a comment or review." <% } %> >Add Comment</button>
    </form>
</div>

<div class="commentSection">
    <h2>Comments</h2>
    <% if (comments) { %>
        <% comments.forEach(function(c) { %>
            <div class="commentContainer">
                <span class="addedBy"><a href="/users/<%= c.userId %>"><%= c.addedBy %></a></span><span class="addedOn"> on <%= c.createdAt %></span>
                <p class="userRating"> <%= "★".repeat(c.rating) %> </p> 
                <p class="commentBody"> <%= c.commentBody %> </p>
                <br>
                <br>
                <% if(sessionUser) { %>

                    <% if (sessionUser._id == c.userId) { %>
                        <div class="commentEditContainer">
                            <a href="/comment/<%= c._id %>/edit?<%= recipe._id %>"><button>Edit</button></a>
                            <button class="deleteComment">Delete</button>
                            <span hidden class="deleteCommentConfirm">
                                <p class="deleteConfirmDialogue">Are you sure?</p>
                                <button class="deleteCommentCancel">Nevermind</button>
                                <form method="POST" action="/comment/<%= c._id %>?_method=DELETE">
                                    <button type="submit">Confirm Delete</button>
                                </form>
                            </span>
                        </div>
                    <% } %>
                <% } %>
                <br><br>
            </div>
        <% }); %>
    <% } %>
</div>